{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <h2>{{ phone.name }}</h2>
            <p><b>Цена:</b> {{ phone.price }} р.</p>
            <p><b>Выпущен:</b> {{ phone.release_date|date:"d.m.Y" }}</p>
            <p><b>LTE:</b>
                {% if phone.lte_exists %}
                Присутствует
                {% else %}
                Отсутствует
                {% endif %}
            </p>
            <p><img src="{{ phone.image }}"></p>
        </div>
    </div>
{% endblock %}